/* ----------------- */
/* custom properties */
/* ----------------- */

:root {
	/* colors */
	--hsl-txt-dark: 160 2% 31%;
	--hsl-txt-light: 0 0% 74%;
	--hsl-txt-lightest: 0 0% 66%;
	--hsl-bg-dark: 0 0% 90%;
}

/* ----------------- */
/* reset             */
/* ----------------- */

*,
*::before,
*::after {
	box-sizing: border-box;
}

body,
p,
h1,
h2,
h3 {
	margin: 0;
}

img,
picture {
	display: block;
	max-width: 100%;
}

button,
input,
textarea,
figcaption {
	font: inherit;
}

button {
	cursor: pointer;
}

nav > ul {
	list-style: none;
	padding: 0;
}

a {
	transition: color 300ms;
}

/* ----------------- */
/* typography        */
/* ----------------- */

body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}

h1,
h2 {
	color: hsl(var(--hsl-txt-dark));
}
h1 {
	font-size: 0.875rem;
}
.stats p,
.stats h2 {
	font-size: 0.75rem;
}
.stats p {
	color: hsl(var(--hsl-txt-light));
}

.subhead {
	font-size: 0.625rem;
	color: hsl(var(--hsl-txt-lightest));
}

/* ----------------- */
/* general styling   */
/* ----------------- */

body {
	/* push footer to bottom of screen */
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.container {
	max-width: 375px;
	padding-inline: 0.75rem;
	margin-inline: auto;
}

/* header */
header {
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

img.profile {
	width: 30%;
	height: auto;
	border-radius: 1rem;
}

.stats {
	display: flex;
	justify-content: center;
	gap: 0.75rem;
	line-height: 1.1;
}
.stats > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.25em;
	width: 78px;
	height: 52px;
	background-color: hsl(var(--hsl-bg-dark));
	border-radius: 0.75rem;
}

/* gallery */
.gallery {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 0.75em;
	margin-bottom: 4em;
}
.gallery > img {
	cursor: pointer;
	border-radius: 0.75em;
	box-shadow: 0 0.25em var(--blur, 0.375em) hsl(0 0% 0% / var(--alpha, 0.15));
	transition: transform 300ms, box-shadow 300ms;
}

.gallery > img:hover {
	--alpha: 0.8;
	--blur: 0.75em;
	transform: scale(1.15);
}
.two-col {
	grid-column: span 2;
}
.two-row {
	grid-row: span 2;
}

/* footer */
footer {
	width: 100%;
	font-size: 0.75rem;
	font-weight: 400;
	background-image: linear-gradient(
		to top,
		hsl(172 29% 85%),
		hsl(172 15% 90%),
		transparent
	);
	color: hsl(var(--hsl-txt-dark) / 0.7);
	line-height: 1.5;
	padding: 2em 0;
	text-align: center;

	/* push footer to bottom of screen */
	margin-top: auto;
}
footer a {
	font-weight: 700;
	color: hsl(var(--hsl-txt-dark) / var(--alpha, 1));
}
footer a:hover {
	--alpha: 0.7;
}
.social > ul {
	margin: 0.25em 0 0 0;
	font-size: 1.5rem;
	display: flex;
	gap: 2em;
	justify-content: center;
}
